{% extends 'base.html.twig' %}

{% block title %}Support Control Panel{% endblock %}

{% block body %}
    <h1 class="text-center">Support Control Panel</h1>

    <br>
    <table class="table table-hover text-center">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">
                {% if is_granted('ROLE_DATA_ADMIN') %}
                <a class=" btn btn-outline-info" href="{{ path('app_support_create') }}"> + Add a New Support</a>
                {% endif %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for support in supports %}
            <tr>
                <td>{{ support.id }}</td>
                <td>{{ support.name }}</td>
                <td>{{ support.quantity }}</td>
                <td>
                    <a type="button" class="text-success btn btn-outline-success" href="{{ path('app_support_view',{'id': support.id }) }}" >View</a>
                    {% if is_granted('ROLE_DATA_ADMIN') %}
                    <a type="button" class="text-info btn btn-outline-info" href="{{ path('app_support_edit', {'id': support.id }) }}">Edit </a>
                    <a type="button" class="text-danger btn btn-outline-danger" href="{{ path('app_support_delete', {'id': support.id }) }}">Delete</a>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div align="center" class="pagination">
        {{ knp_pagination_render(supports) }}
    </div>
{% endblock %}
