{% extends 'base.html.twig' %}

{% block title %}Support Control Panel{% endblock %}

{% block body %}
    <h1 class="text-center">Listing des Supports</h1>

    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row align-items-end">
                <div class="col">
                    {{ form_row(form.name) }}
                </div>
                <div class="col">
                    {{ form_row(form.barcode) }}
                </div>
                <div class="col">
                    {{ form_row(form.quantity) }}
                </div>
            </div>
            <div class="form-row align-items-end">
                <div class="col">
                    {{ form_row(form.grammage) }}
                </div>
                <div class="col">
                    {{ form_row(form.localisation) }}
                </div>
                <div class="col">
                    {{ form_row(form.type) }}
                </div>

            </div>
            <div class="form-row align-items-end">
                <div class="col form-group">
                    {% include 'scan.html.twig' %}
                </div>
                <div class="col">
                    <div class="form-group">
                        <button class="btn btn-block btn-primary">Rechercher</button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

        {% if supports is not empty %}
            <div class="row flex">
                {% for support in supports %}
                <div class="col-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title text-right">
                                Support n°{{ support.id }}
                               <small><div>Code Barre :<br> {{ support.barcode }}</div></small>
                            </h5>
                            {% if support.filename %}
                                <img src="{{ vich_uploader_asset(support, 'imagefile') | imagine_filter('thumb')}}" alt="card-img-top" style="width: 100%; height:auto;">
                            {% else %}
                                <img src="https://picsum.photos/200?random={{ support.id }}" alt="card-img-top" style="width: 100%; height:auto;">
                            {% endif %}
                            <br><br>
                            <div class="text-center">
                                <div>Nom : {{ support.name }}</div>
                                <div>Localisation : {{ support.getLocalisationAsString(support.localisation) }}</div>
                                <div>Grammage : {{ support.getGrammageAsString(support.grammage) }}</div>
                                <div>Type : {{ support.getTypeAsString(support.type) }}</div>
                                <div>Quantité : {{ support.quantity }} </div>
                                {% if support.quantity == 0 %}
                                    <span class="badge badge-danger">STOCK EPUISE</span>
                                {% elseif support.quantity < 10 %}
                                        <span class="badge badge-warning">STOCK PRESQUE EPUISE</span>
                                {% endif %}
                            </div>
                            <br>
                            <div class="text-center">
                                <a type="button" class="text-primary btn btn-outline-primary" href="{{ path('app_support_view',{'id': support.id }) }}" >Consulter</a>
                                <a type="button" class="text-primary btn btn-outline-primary" href="{{ path('app_support_edit_quantity',{'id': support.id }) }}" >Modifier la quantité</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <h4 class="text-center">Aucune donnée n'a été trouvée ...</h4>
        {% endif %}


    <div align="center" class="pagination">
        {{ knp_pagination_render(supports) }}
    </div>
{% endblock %}
