{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h1>{{ support.name }} 's  Specifications</h1>

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {% if support.filename %}
                        <img src="{{ vich_uploader_asset(support, 'imagefile') | imagine_filter('medium')}}" alt="card-img-top" style="width: 100%; height:auto;">
                    {% else %}
                        <img src="https://picsum.photos/200?random={{ support.id }}" alt="card-img-top" style="width: 100%; height:auto;">
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <h1>{{ support.name }}</h1>
                    <div class="row">
                        <label for="staticEmail" class="col-sm-6">ID :</label>
                        <label for="staticEmail" class="col-sm-6">{{ support.id }}</label>
                    </div>
                    <div class="row">
                        <label for="staticEmail" class="col-sm-6">Nom :</label>
                        <label for="staticEmail" class="col-sm-6">{{ support.name }}</label>
                    </div>
                    <div class="row">
                        <label for="staticEmail" class="col-sm-6">Description :</label>
                        <label for="staticEmail" class="col-sm-6">{{ support.description }}</label>
                    </div>
                    <div class="row">
                        <label for="staticEmail" class="col-sm-6">Code Barre :</label>
                        <label for="staticEmail" class="col-sm-6">{{ support.barcode }}</label>
                    </div>
                    <div class="row">
                        <label for="staticEmail" class="col-sm-6">Quantité en Stock :</label>
                        <label for="staticEmail" class="col-sm-6">{{ support.quantity }}
                            {% if support.quantity == 0 %}
                              -  <span class="badge badge-danger">STOCK EPUISE</span>
                            {% elseif support.quantity < 10 %}
                               -      <span class="badge badge-warning">STOCK PRESQUE EPUISE</span>
                            {% endif %}
                        </label>
                    </div>
                    <div class="row">
                        <label for="staticEmail" class="col-sm-6">Localisation :</label>
                        <label for="staticEmail" class="col-sm-6">{{ support.localisationAsString(support.localisation) }}</label>
                    </div>
                    <div class="row">
                        <label for="staticEmail" class="col-sm-6">Type :</label>
                        <label for="staticEmail" class="col-sm-6">{{ support.typeAsString(support.type) }}</label>
                    </div>
                    <div class="row">
                        <label for="staticEmail" class="col-sm-6">Grammage :</label>
                        <label for="staticEmail" class="col-sm-6">{{ support.getGrammageAsString(support.grammage) }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

