{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h1>{{ support.name }} 's  Specifications</h1>

    <div class="row">
        <label for="staticEmail" class="col-sm-2">Identifier :</label>
        <label for="staticEmail" class="col-sm-10">{{ support.id }}</label>
    </div>
    <div class="row">
        <label for="staticEmail" class="col-sm-2">Name :</label>
        <label for="staticEmail" class="col-sm-10">{{ support.name }}</label>
    </div>
    <div class="row">
        <label for="staticEmail" class="col-sm-2">Description :</label>
        <label for="staticEmail" class="col-sm-10">{{ support.description }}</label>
    </div>
    <div class="row">
        <label for="staticEmail" class="col-sm-2">Barcode :</label>
        <label for="staticEmail" class="col-sm-10">{{ support.barcode }}</label>
    </div>
    <div class="row">
        <label for="staticEmail" class="col-sm-2">Quantity :</label>
        <label for="staticEmail" class="col-sm-10">{{ support.quantity }}</label>
    </div>
    <div class="row">
        <label for="staticEmail" class="col-sm-2">Type :</label>
        <label for="staticEmail" class="col-sm-10">{{ support.type }}</label>
    </div>
    <div class="row">
        <label for="staticEmail" class="col-sm-2">Grammage :</label>
        <label for="staticEmail" class="col-sm-10">{{ support.grammage }}</label>
    </div>
{% endblock %}

