{% extends 'base.html.twig' %}

{% block title %}Administration des Mediums{% endblock %}

{% block body %}
    <h1 class="text-center">Administration des Mediums</h1>


    <div class="jumbotron">
        <div class="container">
            {{ form_start(formSearch) }}
            <div class="form-row align-items-end">
                <div class="col">
                    {{ form_row(formSearch.nom) }}
                </div>
                <div class="col">
                    {{ form_row(formSearch.codebarre) }}
                </div>
                <div class="col">
                    {{ form_row(formSearch.quantitymax) }}
                </div>
            </div>
            <div class="form-row align-items-end">
                <div class="col">
                    {{ form_row(formSearch.localisation) }}
                </div>
                <div class="col">
                    {{ form_row(formSearch.type) }}
                </div>
                <div class="col">
                    <div class="form-group">
                    {% include 'scan.html.twig' %}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">

                        <button class="btn btn-block btn-primary">Rechercher</button>
                    </div>
                </div>
            </div>
            {{ form_end(formSearch) }}
        </div>
    </div>

        <table class="table table-hover text-center">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom</th>
                <th scope="col">Quantité</th>
                <th scope="col">Localisation</th>
                <th scope="col">Type</th>
                <th scope="col">
                    <a class=" btn btn-outline-info" href="{{ path('app_medium_create') }}"> + Ajouter un Medium</a>
                </th>
            </tr>
            </thead>
            <tbody>
            {% if mediums is not empty %}
                {% for medium in mediums %}
                    <tr>

                        <td>{{ medium.id }}</td>
                        <td>{{ medium.nom }}</td>
                        <td>{{ medium.quantity }}
                            {% if medium.quantity == 0 %}
                                <span class="badge badge-danger">STOCK EPUISE</span>
                            {% elseif medium.quantity < 10 %}
                                <span class="badge badge-warning">STOCK PRESQUE EPUISE</span>
                            {% endif %}
                        </td>
                        <td>{{ medium.getLocalisationAsString(medium.localisation) }}</td>
                        <td>{{ medium.getTypeAsString(medium.type) }}</td>
                        <td>
                            <a type="button" class="text-success btn btn-outline-success" href="{{ path('app_medium_view',{'id': medium.id }) }}" >Consulter</a>
                            <a type="button" class="text-info btn btn-outline-info" href="{{ path('app_medium_edit', {'id': medium.id }) }}">Editer </a>
                            <a type="button" class="text-danger btn btn-outline-danger" href="{{ path('app_medium_delete', {'id': medium.id }) }}">Supprimer</a>

                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <td colspan="4"> Aucune donnée trouvée ...</td>
            {% endif %}

            </tbody>
        </table>

    <div align="center" class="pagination">
        {{ knp_pagination_render(mediums) }}
    </div>
{% endblock %}


